---
---

DirectoryIndex index.html
RewriteEngine On
RewriteBase /

{% for post in site.posts -%}
{% for link in post.redirect_from -%}
RewriteRule ^{{ link }} {{ post.permalink }} [R=301,L]
{% endfor -%}
{% endfor -%}

RewriteRule ^/cv-fr /cv [R=301,L]