---
layout: full
title: Blog
text-rotator: Fautes d'orthographe, fautes d'accord, tout y est !
description:
intro: >-
    À quoi bon garder l'information pour moi ? Je partage mon petit savoir.
permalink: /blog
---
{% include title.html
    title=page.title
    intro=page.intro
%}

<h4 class="text-center">En cours de refonte</h4>

<!--{% assign posts = site.posts | sort: 'date' | reverse %}-->
<!--{% for post in posts %}-->
<!--    <div class="mb-6">-->
<!--        {% include cards/post.html post=post %}-->
<!--    </div>-->
<!--{% endfor %}-->