---
layout: full
title: Posts
description: >-
    I'm feeling thankful : my hobby is my job. I tried different things and I give you my feedback.
intro: >-
    I'm feeling thankful : my hobby is my job. I tried different things and I give you my feedback.
text-rotator: In franglais with typos !
permalink: /posts
---
{% include title.html
    title='Posts'
    intro=page.intro
%}

{% assign posts = site.posts | sort: 'date' | reverse %}
<div class="mt-12">
    {% for post in posts %}
        {%
            include card.html
            url=post.url
            image=post.image
            title=post.title
            intro=post.intro
            date=post.date
        %}
    {% endfor %}
</div>



