---
layout: full
title: Posts
text-rotator: In franglais with typos !
description:
intro: >-
    À quoi bon garder l'information pour moi ? Je partage mon petit savoir.
permalink: /blog
---
{% include title.html
    title=page.title
    intro=page.intro
%}

{% assign posts = site.posts | sort: 'date' | reverse %}
<div class="mt-12">
    {% for post in posts %}
        {%
            include card.html
            url=post.url
            image=post.image
            title=post.title
            intro=post.intro
            date=post.date
        %}
    {% endfor %}
</div>



