---
layout: full
title: Professional experiences
description: >-

image: /assets/images/fb/cv_en.png
text-rotator: Professional experiences

permalink: /en/cv
---

{% assign cv = site.data.cv['en'] %}
<div class="flex flex-row justify-end">
    <a href="/cv">
        <img class="opacity-50 w-10 hover:opacity-100" src="/assets/images/flag_fr.png" />
    </a>
    <img class="w-10" src="/assets/images/flag_en.png" />
</div>

<div class="lg:grid grid-cols-2 text-justify">
    <div class="flex flex-row items-start">
        <img class="w-36 mr-4" src="/assets/images/photo_143.jpg"/>
        <div>
            <h3>Anthony K GROSS</h3>
            <h4>{{ cv.title }}</h4>
            <div>Marseille, France</div>
        </div>
    </div>
    <div>
        <h3 class="mt-8 lg:mt-0">Contact</h3>
        <ul>
            <li>
                <i class="fa fa-twitter px-3 text-1xl"></i>
                <a href="{{ site.socials['twitter'].url }}">{{ site.socials['twitter'].url }}</a>
            </li>
            <li>
                <i class="fa fa-linkedin px-3 text-1xl"></i>
                <a href="{{ site.socials['linkedin'].url }}">{{ site.socials['linkedin'].url }}</a>
            </li>
            <li>
                <i class="fa fa-github px-3 text-1xl"></i>
                <a href="{{ site.socials['github'].url }}">{{ site.socials['github'].url }}</a>
            </li>
        </ul>
    </div>
</div>

<div>
    <h3 class="mt-8">Career Objectives</h3>
    <p>{{ cv.objectives }}</p>
</div>

<div class="lg:grid grid-cols-2 gap-3 text-justify">
    <div>
        <h3 class="mt-8">Education</h3>
        <ul class="list-disc ml-6">
            {% for education in cv.education %}
                <li>{{ education }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3 class="mt-8">Certifications</h3>
        <ul class="list-disc ml-6">
            {% for certification in cv.certifications %}
                <li>{{ certification }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="text-justify">
    <h3 class="mt-8">IT Technical Skills</h3>
    <div class="lg:grid grid-cols-2 xl:grid-cols-3 gap-3">
        {% for s in cv.skills %}
            <div>
                <h4 class="mt-4">{{ s.category }}</h4>
                <ul class="ml-6">
                    {% for skill in s.skills %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

<div class="text-justify">
    <h3 class="mt-8">Professional experiences</h3>
    {% for experience in cv.experiences %}
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-1 py-6 border-akgFontGrey border-b border-dashed">
            <div>{{ experience.date }}</div>
            <div class="text-right lg:text-left">{{ experience.contract }}</div>
            <div>{{ experience.company }}</div>
            <div class="text-right">{{ experience.position }}</div>
            <div class="col-span-2 lg:col-span-4">
                {{ experience.duties }}
            </div>
            <div class="col-span-2 lg:col-span-4 italic">
                <span class="font-bold">Technologies</span> :
                {{ experience.skills }}
            </div>
        </div>
    {% endfor %}
</div>

<div class="text-justify">
    <div class="lg:grid grid-cols-2 gap-3">
        <div>
            <h3 class="mt-4">Languages known</h3>
            {% for language in cv.profile.languages %}
                <div>{{ language }}</div>
            {% endfor %}
        </div>
        <div>
            <h3 class="mt-4">Profile</h3>
            <div>{{ "now" | date: "%Y" | minus: 1988 }} y.o, {{ cv.profile.status }}</div>
            <div>Interests : {{ cv.profile.interests }}</div>
        </div>
    </div>
</div>