---
layout: full
title: Développeur freelance sur Marseille
description: Développeur freelance sur Marseille vous propose son expertise, développement, ecommerce & formation.
---
{% include title.html
    title='Kkuet ?'
    intro='Apprenez-en davantage sur moi : mes formations, ma carrière, mes loisirs...'
    clipable=true
%}

{% capture author_image %}
    {{ site.baseurl }}/assets/images/photo.jpg
{% endcapture %}
{% include author.html
    image=author_image
    intro="Ingénieur logiciel en poste au Laboratoire d'Astrophysique de Marseille et freelance, chargé de la conception et de la réalisation de services spécifiques, notamment de traitements lourds, accessibles via webservices."
%}

<div class="grid grid-cols-2 py-6">
    <div class="text-justify mr-6">
        <h3>« Once upon a time ... »</h3>
        <p class="mb-3">
            Né à Villeneuve sur Lot (47) d'une mère normande et d'un père allemand, j'ai vécu dans
            cette petite ville jusqu'à ma majorité. Pour poursuivre mes études après mon Bac STG
            (Sciences et technologies de la Gestion), nous avons décidé avec ma famille de partir
            sur Marseille pour que j'intègre une classe de BTS Informatique de gestion au lycée
            Marie Curie. Après avoir décroché mon diplôme, j'ai ensuite choisi de faire une
            licence SIL-NTI (Systèmes Informatiques et Logiciels - Nouvelles Technologies de
            l'Informatique) à la <a href="{% post_url 2000-01-01-streamplayer %}">faculté</a> de Saint-Charles pour terminer ma scolarité.
        </p>
        <p>
            Depuis l'âge de 14ans, je suis passionné d'informatique. À 16ans, je developpais
            mon premier jeu virtuel totalement en PHP, avec une base de données de 30+ tables,
            dont l'expérience m'a énormément apporté pour la suite. Depuis plus de 2 ans,
            je refais ce jeu entre mon emploi et les missions qu'on me donne
            (<a target="_blank" href="http://sharingame.com">Sharingame.com</a>) car il me tient
            énormément à coeur. Je suis un autodidacte, créatif et minutieux. Je suis freelance,
            en plus de mon poste, car j'aime les beaux projets et j'ai de la chance car on m'en
            propose beaucoup. Pour finir et vous l'avez surement déjà compris, j'ai un certain
            franc-parler qui est souvent apprécié de mes interlocuteurs donc autant vous informer
            que je ne vous vendrai pas un service dont j'estime que vous n'avez pas besoin.
        </p>
    </div>
    <div class="text-justify">
        <h3>Mes compétences</h3>
        <ul class="list-disc">
            <li class="pb-6 ml-6">Symfony</li>
            <li class="pb-6 ml-6">Webservice (REST / SOAP)</li>
            <li class="pb-6 ml-6">E-commerce (Prestashop / Magento)</li>
            <li class="pb-6 ml-6">Base de données (MySQL / PostgreSQL / MongoDB / ...)</li>
            <li class="pb-6 ml-6">HTML / CSS / JavaScript (AngularJs / Node / jQuery / ...)</li>
            <li class="pb-6 ml-6">Java / Python</li>
        </ul>
    </div>
</div>