---
layout: full
title: Portfolio
description: >-
    I spend my time to draft some app; a part of them are there !
intro: >-
    «Do something. If it works, do more of it. If it doesn't, do something else.» - <i>F. D. Roosevelt.</i>
text-rotator: Hoping they are still online ...
permalink: /portfolio
---
{% include title.html
    title=page.title
    intro=page.intro
%}

<div class="mt-12">
    {% assign projects = site.data.portfolio %}
    {% for project in projects %}
        {%
            include card.html
            url=project.url
            image=project.image
            title=project.title
            intro=project.intro
            date=project.date
        %}
    {% endfor %}
</div>
