---
layout: full
title: Portfolio
text-rotator: Enfin, s'ils sont encore en ligne ...
description:
intro: >-
    «Faites quelque chose et, si ça ne réussit pas, essayez autre chose.» - <i>F. D. Roosevelt.</i>
permalink: /portfolio
---
{% include title.html
    title=page.title
    intro=page.intro
%}

<div class="mt-12">
    {% assign projects = site.data.portfolio %}
    {% for project in projects %}
        {%
            include card.html
            url=project.url
            image=project.image
            title=project.title
            intro=project.intro
            date=project.date
        %}
    {% endfor %}
</div>
