<div>
    <a href="{{ include.post.url }}">
        <figure>
            <img class="w-full" src="{{ include.post.image }}" alt="{{ include.post.title }}"/>
        </figure>
    </a>
    <h4 class="mt-3">{{ include.post.title }}</h4>
    <p class="pb-3 text-justify">
        {{ include.post.intro }}
    </p>
    <div class="flex justify-between border-t border-b py-3 border-akgFontGrey text-akgFontGrey text-xs">
        <div>
            <i class="fa fa-calendar pr-2"></i>
            {{ include.post.date | date: "%d/%m/%Y" }}
        </div>
        <div>
            <a href="{{ include.post.url }}">Lire</a>
        </div>
    </div>
</div>