<div class="author my-6">
    <div class="flex text-justify">
        <div class="w-1/3 md:w-auto flex-none relative mr-6">
            <a class="thumb" href="{% link cv.html %}">
                <img class="w-full" src="{{ site.baseurl }}/assets/images/photo.jpg" alt="Anthony K GROSS" />
            </a>
        </div>
        <div>
            <h4>
                <a class="text-akgBlack-dark no-underline" href="{% link cv.html %}">About me</a>
            </h4>
            Ingénieur logiciel en poste au Laboratoire d'Astrophysique de Marseille
            et freelance, chargé de la conception et de la réalisation de
            services spécifiques, notamment de traitements lourds, accessibles
            via webservices.
        </div>
    </div>
</div>
