<div class="author my-6">
    <div class="flex text-justify">
        <a class="thumb flex-none relative mr-6" href="{% link cv.html %}">
            <img class="h-full" src="{{ site.baseurl }}/assets/images/photo.jpg" alt="Anthony K GROSS" />
        </a>
        <div>
            <h4>
                <a class="text-akgBlack-dark no-underline" href="{% link cv.html %}">Qui suis-je ?</a>
            </h4>
            Ingénieur logiciel en poste au Laboratoire d'Astrophysique de Marseille
            et freelance, chargé de la conception et de la réalisation de
            services spécifiques, notamment de traitements lourds, accessibles
            via webservices.
        </div>
    </div>
</div>
