<div class="author my-6">
    <div class="flex text-justify">
        <div class="w-1/3 md:w-auto flex-none relative mr-6">
            <a class="thumb" href="{% link cv.html %}">
                <img class="w-full" src="{{ site.baseurl }}/assets/images/photo.jpg" alt="Anthony K GROSS" />
            </a>
        </div>
        <div>
            <h4>
                <a class="text-akgBlack-dark no-underline" href="{% link cv.html %}">About me</a>
            </h4>
            Software engineer with 10+ years experience in many domains covering web development,
            software development and sciences. I would like to increase my skills in devopsing.
            My current stack is Python / Django, MongoDb, RabbitMq / Redis.
        </div>
    </div>
</div>
