<div class="card flex flex-col lg:flex-row text-justify mt-12">
    <a style="background-image: url('{{ include.image }}');" class="thumb lg:w-1/4 h-56 w-full flex-none relative bg-cover bg-center" href="{{ include.url }}"></a>
    <div class="flex flex-col flex-grow lg:pl-6">
        <h4 class="font-bold text-2xl lg:mt-0 mt-6">
            <a class="no-underline hover:text-akgBlue" href="{{ include.url }}">
                {{ include.title }}
            </a>
        </h4>
        <div>
            <i class="fa fa-calendar pr-2"></i>
            {{ include.date | date: "%Y-%m-%d"}}
        </div>
        <p class="flex-grow py-3 pb-4">
            {{ include.intro }}
        </p>
        <div class="flex justify-between border-t border-b border-akgFontGrey py-3">
            <div>
                <a class="pr-2 no-underline" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ include.url }}" target="_blank">
                    <i class="fa fa-facebook-square text-social-facebook"></i>
                </a>
                <a class="pr-2 no-underline" href="https://twitter.com/share?text={{ include.title }}&url={{ site.url }}{{ include.url }}" target="_blank">
                    <i class="fa fa-twitter-square text-social-twitter"></i>
                </a>
            </div>
            <div class="underline">
                <a href="{{ include.url }}#disqus_thread">0 comments</a>
            </div>
        </div>
    </div>
</div>