{% for post in include.posts %}
    <div class="mb-6">
        <a href="{{ post.url }}">
            <figure class="relative">
                <img class="w-full" src="{{post.image}}" alt="{{ post.title }}"/>
                <div class="absolute left-0 bottom-0 p-6 bg-akgBlue text-akgBgWhite text-2xl">{{ post.title }}</div>
            </figure>
        </a>
        <p class="py-6 text-justify">
            {{post.intro}}
        </p>
        <div class="flex justify-between border-t border-b py-3 border-akgFontGrey text-akgFontGrey text-xs">
            <div>
                <i class="fa fa-calendar pr-2"></i>
                {{post.date | date: "%d/%m/%Y"}}
            </div>
            <div>
                <a href="{{ post.url }}">Lire</a>
            </div>
        </div>
    </div>
{% endfor %}