---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$akg-bg-repeat: "/assets/images/bg-repeat.png";

@font-face {
  font-family: 'JennaSue';
  src: url('/assets/fonts/JennaSue.ttf');
}

html {
  @apply bg-akgWhite text-akgBlack screen:text-base font-open-sans leading-8 print:text-sm;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  html { @apply leading-6; }
  @page { margin: 10mm 10mm; }
  .container { @apply p-0 max-w-none; }
}

.break-inside-avoid {
  break-inside: avoid;
  page-break-inside: avoid;
}

.break-after-avoid {
  break-after: avoid;
  page-break-after: avoid;
}

.banner, footer {
  background-image: url($akg-bg-repeat);
  background-repeat: repeat;
}

h1, h2 {
  @apply screen:text-4xl print:text-base;
}

h3 {
  @apply screen:text-3xl print:text-xl;
}

h4 {
  @apply screen:text-2xl print:text-base;
}

a {
  @apply underline;

  .menu & {
    @apply no-underline;
  }
}

.content a {
  @apply text-akgBlue underline hover:text-akgBlue-dark;
}