---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$akg-bg-repeat: "/assets/images/bg-repeat.png";

@font-face {
  font-family: 'JennaSue';
  src: url('/assets/fonts/JennaSue.ttf');
}

html {
  @apply bg-akgWhite text-akgBlack text-base font-open-sans leading-8;
}

.banner, footer {
  background-image: url($akg-bg-repeat);
  background-repeat: repeat;
}

.cliper {
  @apply cursor-pointer;

  &:hover {
    @apply text-akgBlue;
  }
}

.noty_theme__light.noty_type__success {
  @apply bg-akgBlue text-akgWhite border-akgBlue-dark;
}

h1, h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

a {
  @apply underline;

  .menu &, &.cliper {
    @apply no-underline;
  }
}

.post a {
  @apply text-akgRed no-underline hover:underline;
}
.post p {
  text-indent: 2rem;
  @apply text-justify;
}

.card .thumb::before {
  position: absolute;
  content: " ";
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 350ms;
  @apply bg-akgBlue;
}
.card .thumb:hover::before {
  @apply opacity-60;
}