<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <title>{{ page.title }} - Anthony K GROSS</title>

        <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C600%2C700%7CDomine%3A400%7C&#038;ver=4.5.0' type='text/css' media='all' />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/dist/libs.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

        <meta property="og:locale" content="{{ site.lang | default: "en-US" }}"/>
        <meta property="og:title" content="{{ page.title | default: site.title }}"/>
        <meta property="og:description" content="{{ page.description | default: site.description }}"/>
        <meta property="og:url" content="{{ page.url }}"/>
        <meta property="og:site_name" content="{{ site.title }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="{{ site.url }}{{ page.image | default: '/assets/images/fb_image.png' }}">
        <meta property="fb:app_id" content="1488082224825425"/>

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ site.socials['twitter'].username }}">
        <meta name="twitter:creator" content="@{{ site.socials['twitter'].username }}">
        <meta name="twitter:title" content="{{ page.title | default: site.title }}">
        <meta name="twitter:description" content="{{ page.description | default: site.description }}">
        <meta name="twitter:image" content="{{ site.url }}{{ page.image | default: '/assets/images/fb_image.png' }}">

        <!-- Favicons -->
        <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">
        <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/apple-touch-icon.png">

        <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/feed.xml">
    </head>
    <body>
        {% if site.env == 'dev' %}
        <div class="fixed text-center w-full z-50">
            <div class="sm:hidden bg-gray-300">XS</div>
            <div class="hidden sm:block md:hidden bg-yellow-300">SM</div>
            <div class="hidden md:block lg:hidden bg-yellow-600">MD</div>
            <div class="hidden lg:block xl:hidden bg-red-600 text-white">LG</div>
            <div class="hidden xl:block 2xl:hidden bg-red-900 text-white">XL</div>
            <div class="hidden 2xl:block bg-purple-800 text-white">2XL</div>
        </div>
        {% endif %}
        {{ content }}
        <script src="/assets/dist/libs.js"></script>
        <script src="/assets/js/app.js"></script>
        <script id="dsq-count-scr" src="//anthonykgross.disqus.com/count.js" async></script>
    </body>
</html>